<div class="bootstrap-wrapper">
  <div class="container"><br>
    <div class="row">
      <div class="col-md-4 offset-md-4"><br>
        <mat-card>
          <div class="container text-center"><br>
            <img src="../../../assets/signup.png" alt="" />
          </div>
          <h1 class="text-center">Students Login</h1>

          <form (ngSubmit)="formSubmit()" style="width: 90%; margin: auto;">
            <!-- username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username: </mat-label>
              <input [(ngModel)] ="loginData.username" required name="username" matInput placeholder="Enter username" />
              <mat-hint>Enter valid username</mat-hint>
            </mat-form-field>
            <!-- password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password: </mat-label>
              <input [(ngModel)] = "loginData.password" required name="password" type="password" matInput placeholder="Enter password" />
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">Login</button>
              <button style="margin-left: 20px;" type="reset" mat-raised-button color="warn">Clear</button>
            </div><br>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<br>
