<br>
<mat-card class="container">
  <mat-action-list>
    <div mat-subheader style="font-size: 20px;">Menu</div>
    <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>house</mat-icon> Home</button>
    <button mat-list-item routerLink="/admin/profile" ><mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
    <button mat-list-item routerLink="/admin/categories" ><mat-icon mat-list-icon>list</mat-icon> Categories</button>
    <button mat-list-item routerLink="/admin/add-category" ><mat-icon mat-list-icon>add</mat-icon> Add Categories</button>
    <button mat-list-item routerLink="/admin/quizzes" ><mat-icon mat-list-icon>edit_note</mat-icon> Exams</button>
    <button mat-list-item routerLink="/admin/add-quiz" ><mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Exams</button>
  </mat-action-list>
</mat-card>
